/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
img {padding-top: 50px;
}
body {
  background-color: darkgrey;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #09224c;
  text-align: center
}

h1 {
  font-family: "Fantasy", monospace;
  font-size: 32px;
}

p1 {
  font-family: "Cursive", fantasy;
  font-size: 5px; 
}


p2 {
  font-family: "Fantasy", serif;
  font-size: 15px;
}